/* =======================================================
   THEME : No Bad Trip – configuration globale SASS (DA refondue)
   ======================================================= */

/* 🎨 PALETTE DE COULEURS */
$color-accent: rgba(255, 255, 255, 0.1)                      // Orange corail doux
$color-text: #F1F1F1                         // Texte principal clair
$color-text-alt: #9A9A9A                     // Texte secondaire doux
$color-border: rgba(255, 255, 255, 0.1)      // Bordures subtiles
$color-background: #0E0E0E                   // Noir profond, mat
$color-background-alt: #1B1B1B               // Fond secondaire

/* 🌍 BODY */
$body-color: $color-text 
$body-background-color: $color-background 

/* 🅰️ TYPOGRAPHIE */
$body-font-family: "Sora", "Helvetica", sans-serif !default
$heading-font-family: "Sora", "Impact", sans-serif !default


$body-size: px2rem(18) 
$body-size-desktop: px2rem(20) 
$body-line-height: 160% 
$body-weight: 400 
$body-letter-spacing: 0.012em 

$heading-font-weight: 600 
$heading-letter-spacing: 0.01em 
$h1-weight: $heading-font-weight 
$h2-weight: $heading-font-weight 
$h3-weight: $heading-font-weight 

$h1-size: px2rem(34) 
$h1-size-desktop: px2rem(60) 
$h2-size: px2rem(30) 
$h2-size-desktop: px2rem(42) 
$h3-size: px2rem(26) 
$h3-size-desktop: px2rem(32) 

/* 📏 SPACING + GRID */
$spacing1: 24px 
$spacing2: 48px 
$spacing3: 64px 
$spacing4: 128px 
$spacing5: 256px 

$grid-gutter: 48px 
$grid-max-width: 1440px 

/* 🧭 HEADER */
$header-color: $color-text 
$header-hover-color: $color-accent 
$header-background: transparent 
$header-sticky-enabled: true 
$header-sticky-background: $color-background 
$header-sticky-color: $header-color 
$header-dropdown-background: $color-background-alt 
$header-logo-height: 70px 
$header-height: 80px 
$header-transition: 0.3s ease-in-out 

/* 🦶 FOOTER */
$footer-color: $color-text 
$footer-background-color: $color-background-alt 
$footer-logo-height: 36px 

/* 📣 HERO */
$hero-height: 200px 
$hero-height-desktop: 480px 
$hero-color: $color-text 
$hero-background-color: $color-background-alt 

/* ✨ BREADCRUMB */
$breadcrumb-color: $color-text-alt 
$breadcrumb-icon: "caret-right" 
$breadcrumb-icon-color: $color-accent 

/* 📦 BLOCKS - Call to action */
$block-call-to-action-background: $color-accent 
$block-call-to-action-color: $color-background 
$block-call-to-action-button-background: $color-background 
$block-call-to-action-button-color: $color-accent 

/* 🧍 PERSONS */
$persons-avatar-background-color: $color-background-alt 

/* 📈 TABLES */
$table-head-font-size: px2rem(18) 
$table-body-size: $body-size 

/* 🔉 TESTIMONIALS */
$block-testimonials-color: $color-accent 
$block-testimonials-style: italic 

/* 📚 TOC */
$toc-color: $color-text 
$toc-active-color: $color-accent 
$toc-background-color: $color-background-alt 

/* 🖼️ GALLERY */
$block-gallery-carousel-background: $color-background-alt 

/* 💾 DIVERS */
$zindex-nav-accessibility: 1010 
$zindex-stretched-link: 2 
$arrow-ease-transition: cubic-bezier(0.3, 0.65, 0.4, 1) 
